@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    /*non selezionare testo */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.configurator {
    position: fixed;
    top: 10vh;
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 32px;
    background: rgba(50, 46, 121, 0.817);
    border-radius: 45px;

}

.configurator--left {
    left: 100px;
}

.configurator--right {
    right: 100px;
}

.random-button-floating {
    position: fixed;
    left: 200px;
    /* stessa distanza della colonna sinistra */
    bottom: 250px;
    z-index: 100;
}

.configurator__section__title {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(72, 190, 18);
}

.configurator__section__values {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    padding: 24px 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

.item__dot {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: solid 2px #999999;
}

.item:hover {
    opacity: 0.9;
    cursor: pointer;
}

.item__label {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #cf9f1a;
    text-transform: capitalize;
}

.item.item--active .item__dot {
    border: solid 2px rgb(219, 189, 89);
}

.item.item--active .item__label {
    color: white;
}

.random-button {
    background-color: #444;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.random-button:hover {
    background-color: #666;
}

.send-button {
    position: fixed;
    bottom: 60px;
    /* Distanza dal fondo della pagina */
    right: 145px;
    /* Distanza dal lato destro della pagina */
    background-color: rgb(72, 190, 18);
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Garantisce che sia sopra altri elementi */
}

.send-button:hover {
    background-color: #5e9e16;
}

/* Overlay per il blur */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(5px);
    /* Aggiunge l'effetto blur sul contenuto sottostante */
}

/* Contenitore del popup */
.popup-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    color: #000000;
    position: relative;
    /* Importante per il posizionamento del pulsante X */
}

.popup-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popup-form input {
    padding: 12px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #999;
}

.popup-form button {
    background-color: rgb(72, 190, 18);
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-form button:hover {
    background-color: #5e9e16;
}

/* Pulsante di chiusura popup (la X) */
.popup-close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
    padding: 8px;
}

.popup-close-button:hover {
    color: red;
}

/* Messaggio di successo */
.success-message {
    /*background-color: rgba(0, 255, 0, 0.8); /* Verde per successo */
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
}

/* Messaggio di errore */
.error-message {
    background-color: rgba(255, 0, 0, 0.8);
    /* Rosso per errore */
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    display: none;
    /* inizialmente nascosto */
}

/* Aggiungi la classe "show" per mostrare i messaggi di successo/errore */
.show-success {
    display: block;
}

.show-error {
    display: block;
}

/* Aggiungi transizioni per una visualizzazione fluida */
.success-message,
.error-message {
    transition: opacity 0.3s ease-in-out;
}

.canvas-wrapper {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.logo {
    position: fixed;
    width: 100px;
    /* Imposta la larghezza del logo */
    height: auto;
    /* Mantieni la proporzione dell'immagine */
    margin-top: 50px;
    /* Aggiungi un margine superiore se necessario */
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
}

.instagram-button {
    position: fixed;
    margin-top: 50px;
    z-index: 999;
    left: 55%;
    transform: translateX(-50%) scale(1.5);
    transition: transform 0.3s, border-color 0.3s;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* VERSIONE MOBILE */
@media (max-width: 768px) {

    .App {
        height: auto;
        overflow-y: auto;
        width: 100%;
    }

    .canvas-wrapper {
        touch-action: none;
        width: 100%;
        height: 100vh;
        /* aumenta o diminuisci a piacere */
    }

    .mobile-controls {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 40px;
        padding: 10px;
        z-index: 20;
    }

    .main-button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 14px 0;
        /* meno padding orizzontale */
        width: 60px;
        /* larghezza fissa */
        height: 60px;
        /* altezza fissa */
        border-radius: 50%;
        /* cerchio perfetto */
        font-size: 24px;
        /* più grande per emoji o icona */
        display: block;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 10px 0;
    }

    .main-button:hover {
        background-color: #45a049;
    }

    .customization-buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* Prima riga con 3 bottoni */
        gap: 20px;
        visibility: visible;
        justify-items: center;
        margin-bottom: 20px;
    }

    .customization-buttons button {
        /* background-color: #692828;*/
        border: 1px solid #ccc;
        padding: 15px;
        font-size: 14px;
        border-radius: 50px;
        /*cerchio*/
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease;
        height: 50px;

    }

    .customization-buttons button:hover {
        background-color: #ddd;
    }

    .back-button {
        background-color: transparent !important;
        /* Nessun colore di sfondo */
        border: none !important;
        /* Nessun bordo */
        font-size: 40px !important;
        /* Dimensione dell'emoji */
        color: #333 !important;
        /* Colore dell'emoji */
        opacity: 0.8;
        /* Opacità per dare un effetto soft */
        cursor: pointer;
        /* Mostra il cursore a mano */
        padding: 0 !important;
        /* Nessun padding, per ridurre lo spazio extra attorno all'emoji */
    }

    .back-button:hover {
        color: #555 !important;
        /* Colore più chiaro per l'emoji al passaggio del mouse */
    }


    .color-palette-container {
        margin-top: 10px;
    }

    .color-palette {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        /* 5 colonne */
        gap: 12px;
        margin-top: 10px;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .item__dot {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-bottom: 4px;
        /* Spazio tra il cerchio e il testo */
    }

    .item--active .item__dot {
        border: 2px solid #000;
    }

    .item__label {
        font-size: 12px;
        text-align: center;
        margin-top: 4px;
        width: 100%;
        /* Limita la larghezza dell'etichetta */
        max-width: 100px;
        /* Imposta una larghezza massima per il testo */
    }

    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        /* Sfondo semi-trasparente */
        z-index: 99999;
        /* Assicurati che il popup sia sopra altri contenuti */
    }

    .popup-container {
        background-color: white;
        padding: 24px;
        border-radius: 12px;
        width: 80%;
        max-width: 400px;
        /* Imposta una larghezza massima per il popup */
        text-align: center;
        position: relative;
    }

    .success-message {

        color: white;
        font-size: 18px;
        padding: 0px;
        border-radius: 8px;
        margin-top: 20px;
        text-align: center;
        position: fixed;
        width: 100%;
        max-width: 400px;
        /* Larghezza massima per il messaggio */
        margin-left: 0%;
    }

    .success-popup {
        position: fixed;
        width: 80%;
        max-width: 400px;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* Centra il popup */
        padding: 20px;
        background-color: #4CAF50;
        color: white;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .logo {
        width: 60px !important;
        margin-top: 25px;
    }

    .instagram-button {
        margin-top: 20px;
        left: 70%;
        transform: translateX(-50%) scale(1);
    }


}